---
layout: default
---
<article class="container blog padding-top padding-bottom" >
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="col-xs-12">
				<h2>Case Studies</h2>
				<ul>
					{% for post in site.categories.casestudies %}
					{% if post.url %}
					<li>
						<span class="sector">{{ post.sector }}&#58;</span>
						<a href="{{ post.url | relative_url }}">
						<br>
							{{ post.title }}
						</a>
						<br>
						<span class="date">
							{{ post.date | date: '%Y' }}
						</span>
					</li>
					{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</article>
